@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Page.cshtml";
}
<div class="bg-light-grey m-b-2">
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="article-title pagetitle">Skribenter på helselosen.no</h1>
					<p class="lead">Her kan du lese mer om de som skriver hos oss.</p>
				</div>
			</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 p-y-2">
			<div class="card-columns">
			   @foreach (var item in Model.Content.Children.Where(x => x.IsVisible()))
				{
					var id = item.GetProperty("writerMemberId").Value.ToString();
					@Umbraco.RenderMacro("AuthorCard", new {authorId=@id})
				}
			</div>
		</div>
	</div>
</div>	
	
      


        
  
		
