@inherits Umbraco.Web.Macros.PartialViewMacroPage
	@{
		string PageTitle = CurrentPage.Name;
		string Snippet = "" ; 
	  
	if (CurrentPage.pageTitle != null && !(CurrentPage.pageTitle is Umbraco.Core.Dynamics.DynamicNull))
	{ PageTitle = @CurrentPage.pageTitle;}
	
	if (CurrentPage.snippet != null && !(CurrentPage.snippet is Umbraco.Core.Dynamics.DynamicNull))
	{ Snippet = @CurrentPage.snippet;}	
		
	<h1 id="pagetitle" class="pagetitle">@PageTitle <small>@Snippet</small></h1>	 
		
			}