<appSettings>
  <!-- Azure File blob connection string-->
  <add key="AzureBlobFileSystem.ConnectionString" value="xxx" />
  <!-- SendGrid-->
  <add key="mailAccount" value="My mail account." />
  <add key="mailPassword" value="My mail password." />
  <!-- Facebook -->
  <add key="FacebookAppId" value="123" />
  <add key="FacebookAppSecret" value="345" />
  <!-- Google -->
  <add key="GoogleClientId" value="1.apps.googleusercontent.com" />
  <add key="GoogleClientSecret" value="My Google client secret." />
</appSettings>